<div fxLayoutAlign="center center">

  <div class="container" fxFlex="80vw" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">

    <div fxLayoutAlign="center center">
      <h1>Todo List</h1>
    </div>

    <table mat-table [dataSource]="todos" class="mat-elevation-z1">

      <!-- Is complete column -->
      <ng-container matColumnDef="isComplete">
        <th mat-header-cell *matHeaderCellDef> Complete? </th>
        <td mat-cell *matCellDef="let todo">
          <mat-checkbox [(ngModel)]="todo.isComplete">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Title column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title Name </th>
        <td mat-cell *matCellDef="let todo">{{ todo.title }}</td>
      </ng-container>

      <!-- Due date column -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef> Due Date </th>
        <td mat-cell *matCellDef="let todo">{{ todo.dueDate.toLocaleString() }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-card fxLayout="column" [style.width]="'60vw'">

      <form (ngSubmit)="addTodo()" [style.padding-left.vw]="1" [style.padding-right.vw]="1">

        <mat-card-title fxLayoutAlign="center center">
          <h2>Add New Todo</h2>
        </mat-card-title>

        <mat-card-content>

          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2vw" fxLayout.xs="column" fxLayoutGap.xs="0vw">

            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.lt-sm="80%" fxFlexFill>
              <mat-label>Title</mat-label>
              <input matInput [(ngModel)]="newTodoTitle" name="title">
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50%" fxFlex.lt-sm="80%" fxFlexFill>
              <mat-label>Due Date</mat-label>
              <input matInput [(ngModel)]="newTodoDueDate" name="dueDate" [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </div>

        </mat-card-content>

        <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" [style.padding-bottom]="'20px'">
          <button type="submit" mat-raised-button color="primary">Add</button>
        </mat-card-actions>

      </form>

    </mat-card>

  </div>

</div>
